<link rel="stylesheet" href="./components/switchSlider/switchSliderStyles.css">


<div class="switch-container">
    <label class="switch">
        <input type="checkbox">
        <div class="slider" onclick="<%= onclick %>">
            <div class="slider-content">
                <div class="slider-icon">
                    <%- left %>
                </div>
                <div class="slider-letter">
                    <%- right %>
                </div>
            </div>
        </div>
    </label>
</div>