<div class="select-container">
    <select class="custom-select" id="fontSelector" onchange="client.changeFont(this);">
        <option value="x" selected disabled>Seleziona un font</option>
    </select>
</div>