<div id="imagesTemplate" class="templateCardSect cardsSect hidden">
    <div class="card templateCard" id="templateCard">
        <input type="hidden" id="cardId" name="cardId" />
        <div class="cardRowTop">
            <div class="cardTextInput">

                <label id="imgLblTopRowL" for="imgTopRowL" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="imgTopRowL" name="imgTopRowL" class="image-input hidden" aria-labelledby="imgLblTopRowL" accept="image/*">
                
            </div>
            <div class="cardTextInput">

                <label id="imgLblTopRowM" for="imgTopRowM" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="imgTopRowM" name="imgTopRowM" class="image-input hidden" aria-labelledby="imgLblTopRowM" accept="image/*">
            </div>
            <div class="cardTextInput">
                <label id="imgLblTopRowR" for="imgTopRowR" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="imgTopRowR" name="imgTopRowR" class="image-input hidden" aria-labelledby="imgLblTopRowR" accept="image/*">
            </div>
        </div>

        <div class="cardRowMid">
            <div class="cardTextInput">
                <label id="imgLblMidRowL" for="imgMidRowL" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="imgMidRowL" name="imgMidRowL" class="image-input hidden" aria-labelledby="imgLblMidRowL" accept="image/*">
            </div>
            <div class="cardTextInput">
                <label id="imgLblMidRowM" for="imgMidRowM" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="imgMidRowM" name="imgMidRowM" class="image-input hidden" aria-labelledby="imgLblMidRowM" accept="image/*">
            </div>
            <div class="cardTextInput">
                <label id="imgLblMidRowR" for="imgMidRowR" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="imgMidRowR" name="imgMidRowR" class="image-input hidden" aria-labelledby="imgLblMidRowR" accept="image/*">
            </div>
        </div>

        <div class="cardRowBottom">
            <div class="cardTextInput">
                <label id="imgLblBotRowL" for="imgBotRowL" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="imgBotRowL" name="imgBotRowL" class="image-input hidden" aria-labelledby="imgLblBotRowL" accept="image/*">
            </div>
            <div class="cardTextInput">
                <label id="imgLblBotRowM" for="inBotRowM" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="inBotRowM" name="inBotRowM" class="image-input hidden" aria-labelledby="imgLblBotRowM" accept="image/*">
            </div>
            <div class="cardTextInput">
                <label id="imgLblBotRowR" for="inBotRowR" class="image-label">
                    <i class="fa-solid fa-plus"></i>
                </label>
                <input type="file" id="inBotRowR" name="inBotRowR" class="image-input hidden" aria-labelledby="imgLblBotRowR" accept="image/*">
            </div>
        </div>
    </div>
</div>