<div id="syllablesTemplate" class="templateCardSect cardsSect">
    <div class="card templateCard" id="templateCard">
        <input type="hidden" id="cardId" name="cardId" />
        <div class="cardRowTop">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopRowL" onkeyup="client.syncPreview(inTopRowL)" name="inTopRowL">
                <input type="color" class="textColorPicker" id="colTopL" oninput="client.syncPreview(colTopL)" name="colTopL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopRowM" onkeyup="client.syncPreview(inTopRowM)" name="inTopRowM">
                <input type="color" class="textColorPicker" id="colTopM" oninput="client.syncPreview(colTopM)" name="colTopM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopRowR" onkeyup="client.syncPreview(inTopRowR)" name="inTopRowR">
                <input type="color" class="textColorPicker" id="colTopR" oninput="client.syncPreview(colTopR)" name="colTopR">
            </div>
        </div>

        <div class="cardRowMid">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidRowL" onkeyup="client.syncPreview(inMidRowL)" name="inMidRowL">
                <input type="color" class="textColorPicker" id="colMidL" oninput="client.syncPreview(colMidL)" name="colMidL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidRowM" onkeyup="client.syncPreview(inMidRowM)" name="inMidRowM">
                <input type="color" class="textColorPicker" id="colMidM" oninput="client.syncPreview(colMidM)" name="colMidM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidRowR" onkeyup="client.syncPreview(inMidRowR)" name="inMidRowR">
                <input type="color" class="textColorPicker" id="colMidR" oninput="client.syncPreview(colMidR)" name="colMidR">
            </div>
        </div>

        <div class="cardRowBottom">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotRowL" onkeyup="client.syncPreview(inBotRowL)" name="inBotRowL">
                <input type="color" class="textColorPicker" id="colBotL" oninput="client.syncPreview(colBotL)" name="colBotL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotRowM" onkeyup="client.syncPreview(inBotRowM)" name="inBotRowM">
                <input type="color" class="textColorPicker" id="colBotM" oninput="client.syncPreview(colBotM)" name="colBotM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotRowR" onkeyup="client.syncPreview(inBotRowR)" name="inBotRowR">
                <input type="color" class="textColorPicker" id="colBotR" oninput="client.syncPreview(colBotR)" name="colBotR">
            </div>
        </div>
    </div>
</div>