<div id="syllablesTemplate" class="templateCardSect cardsSect">
    <div class="card templateCard" id="templateCard">
        <input type="hidden" id="cardId" name="cardId" />
        <div class="cardRowTop">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopRowL" onkeyup="client.syncPreview(this)" name="inTopRowL">
                <input type="color" class="textColorPicker" id="colTopL" oninput="client.syncPreview(this)" name="colTopL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopRowM" onkeyup="client.syncPreview(this)" name="inTopRowM">
                <input type="color" class="textColorPicker" id="colTopM" oninput="client.syncPreview(this)" name="colTopM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopRowR" onkeyup="client.syncPreview(this)" name="inTopRowR">
                <input type="color" class="textColorPicker" id="colTopR" oninput="client.syncPreview(this)" name="colTopR">
            </div>
        </div>

        <div class="cardRowMid">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidRowL" onkeyup="client.syncPreview(this)" name="inMidRowL">
                <input type="color" class="textColorPicker" id="colMidL" oninput="client.syncPreview(this)" name="colMidL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidRowM" onkeyup="client.syncPreview(this)" name="inMidRowM">
                <input type="color" class="textColorPicker" id="colMidM" oninput="client.syncPreview(this)" name="colMidM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidRowR" onkeyup="client.syncPreview(this)" name="inMidRowR">
                <input type="color" class="textColorPicker" id="colMidR" oninput="client.syncPreview(this)" name="colMidR">
            </div>
        </div>

        <div class="cardRowBottom">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotRowL" onkeyup="client.syncPreview(this)" name="inBotRowL">
                <input type="color" class="textColorPicker" id="colBotL" oninput="client.syncPreview(this)" name="colBotL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotRowM" onkeyup="client.syncPreview(this)" name="inBotRowM">
                <input type="color" class="textColorPicker" id="colBotM" oninput="client.syncPreview(this)" name="colBotM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotRowR" onkeyup="client.syncPreview(this)" name="inBotRowR">
                <input type="color" class="textColorPicker" id="colBotR" oninput="client.syncPreview(this)" name="colBotR">
            </div>
        </div>
    </div>
</div>