<div id="syllablesTemplate" class="cardsSect">
    <div class="card templateCard" id="templateCard">
        <div class="cardRowTop">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopL" onkeyup="syncPreview(this)" name="inTopL">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colTopL" oninput="syncPreview(this)" name="colTopL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopM" onkeyup="syncPreview(this)" name="inTopM">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colTopM" oninput="syncPreview(this)" name="colTopM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inTopR" onkeyup="syncPreview(this)" name="inTopR">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colTopR" oninput="syncPreview(this)" name="colTopR">
            </div>
        </div>

        <div class="cardRowMid">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidL" onkeyup="syncPreview(this)" name="inMidL">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colMidL" oninput="syncPreview(this)" name="colMidL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidM" onkeyup="syncPreview(this)" name="inMidM">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colMidM" oninput="syncPreview(this)" name="colMidM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inMidR" onkeyup="syncPreview(this)" name="inMidR">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colMidR" oninput="syncPreview(this)" name="colMidR">
            </div>
        </div>

        <div class="cardRowBot">
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotL" onkeyup="syncPreview(this)" name="inBotL">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colBotL" oninput="syncPreview(this)" name="colBotL">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotM" onkeyup="syncPreview(this)" name="inBotM">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colBotM" oninput="syncPreview(this)" name="colBotM">
            </div>
            <div class="cardTextInput">
                <input type="text" class="templateCard" id="inBotR" onkeyup="syncPreview(this)" name="inBotR">
                <input type="color" value="#FFFFFF" class="textColorPicker" id="colBotR" oninput="syncPreview(this)" name="colBotR">
            </div>
        </div>
    </div>
</div>