<!DOCTYPE html>
<html lang="">

<head>
    <title>Log-obble</title>
    <link rel="stylesheet" href="./common/commonStyles.css">
    <link rel="stylesheet" href="./gameHomepage/syllaDobbleStyles.css">

    <script type="module">
        import * as client from './gameHomepage/homepageClient.js';
        window.client = client;

        import * as common from '../common/commonClient.js'
        window.common = common;
    </script>
</head>

<body>
    <div class="page">
        <%- include('components/header.ejs'); %>
        <%- include('components/modals.ejs'); %>
        <%- include('components/dialog.ejs'); %>

        <div class="templatingContainer no-print">
            <div class="templateCardContainer">
                <div class="buttonSect no-print">
                    <div class="subtitle">
                        <span>Impostazioni carta da aggiungere</span>
                    </div>
                    <div class="undertitle">
                        <span>Premi sulle opzioni per cambiare la carta</span>
                    </div>
                    <div class="settingsSect">
                        <div>
                            <label for="cardBg">Sfondo</label>
                            <input type="color" id="cardBg" name="cardBg" value="#FFFFFF" onchange="client.updateCard(this)" />
                        </div>
                        <div>
                            <label for="cardBorder">Bordo</label>
                            <input type="color" id="cardBorder" name="cardBorder" value="#000000"
                                onchange="client.updateCard(this)" />
                        </div>
                        <div>
                            <label for="cardGlobalTextCol">Colore testo</label>
                            <input type="color" id="cardGlobalTextCol" name="cardGlobalTextCol" value="#000000"
                                onchange="client.updateCard(this)" />
                        </div>
                        <div>
                            <div><span class="smallText">Reset defaults <i class="fas fa-info-circle"
                                        title="Reimposta valori predefiniti dei campi per il template della carta"></i></span>
                            </div>
                            <input type="button" value="Reset" class="resetBtn" onclick="client.resetGlobals()" />
                        </div>
                    </div>

                </div>
                <div class="templateCardSect cardsSect no-print">
                    <form action="#">
                        <div class="card templateCard" id="templateCard">
                            <div class="cardRowTop">
                                <input type="text" class="templateCard" id="inTopRowL" name="inTopRowL">
                                <input type="color" class="textColorPicker" id="colTopL" name="colTopL">
                                <input type="text" class="templateCard" id="inTopRowM" name="inTopRowM">
                                <input type="color" class="textColorPicker" id="colTopM" name="colTopM">
                                <input type="text" class="templateCard" id="inTopRowR" name="inTopRowR">
                                <input type="color" class="textColorPicker" id="colTopR" name="colTopR">
                            </div>

                            <div class="cardRowMid">
                                <input type="text" class="templateCard" id="inMidRowL" name="inMidRowL">
                                <input type="color" class="textColorPicker" id="colMidL" name="colMidL">
                                <input type="text" class="templateCard" id="inMidRowM" name="inMidRowM">
                                <input type="color" class="textColorPicker" id="colMidM" name="colMidM">
                                <input type="text" class="templateCard" id="inMidRowR" name="inMidRowR">
                                <input type="color" class="textColorPicker" id="colMidR" name="colMidR">
                            </div>

                            <div class="cardRowBottom">
                                <input type="text" class="templateCard" id="inBotRowL" name="inBotRowL">
                                <input type="color" class="textColorPicker" id="colBotL" name="colBotL">
                                <input type="text" class="templateCard" id="inBotRowM" name="inBotRowM">
                                <input type="color" class="textColorPicker" id="colBotM" name="colBotM">
                                <input type="text" class="templateCard" id="inBotRowR" name="inBotRowR">
                                <input type="color" class="textColorPicker" id="colBotR" name="colBotR">
                            </div>
                        </div>
                    </form>
                    <div class="actionButtonsContainer">
                        <div class="actionButtons">
                            <button onclick="client.getValues()">Aggiungi carta</button>
                            <button onclick="client.stampaPagine()">Stampa carte</button>
                            <!-- SAVE BUTTON -->
                            <div>
                                <div><span style="text-align: start;" class="smallText">Salva carte <i
                                            class="fas fa-info-circle"
                                            title="Salva le carte presenti nella sezione 'LE TUE CARTE'"></i></span>
                                </div>
                                <input type="button" value="Salva" class="saveBtn" onclick="client.saveCards()" />
                            </div>
                            <!-- UPLOAD BUTTON -->
                            <div>
                                <div><span style="text-align: start;" class="smallText">Carica carte <i
                                            class="fas fa-info-circle"
                                            title="Seleziona il file salvato in precedenza per caricarle nella sezione 'LE TUE CARTE'"></i></span>
                                </div>
                                <input type="file" id="cardsUpload" onchange="client.uploadCards(this)" />
                            </div>
                            <button style="display: none" onclick="client.logCards()">LOG CARDS</button>


                        </div>
                    </div>
                </div>
            </div>


            <div class="descriptionSection">
                <svg height="500" width="1" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" y1="0" x2="0" y2="100%" style="stroke:rgba(102, 102, 102, 0.712);stroke-width:3" />
                    Sorry, your browser does not support inline SVG.
                </svg>
                <div class="instructionSect">
                    <div class="subtitle">
                        <span>Cosa puoi fare con questo tool:</span>
                    </div>
                    <div class="undertitle">
                        <span>Premi sulle opzioni per aprire un tutorial di ognuna</span>
                    </div>
                    <ul>
                        <li><button onclick="common.openModal('modal_createTutorial')" id="createTutorial">Creare
                                carte</button></li>
                        <li><button onclick="common.openModal('modal_saveTutorial')" id="saveTutorial">Salvare
                                carte</button></li>
                        <li><button onclick="common.openModal('modal_loadTutorial')" id="saveTutorial">Caricare
                                carte</button></li>
                        <li><button onclick="common.openModal('modal_printTutorial')"
                                id="saveTutorial">Stampare carte</button></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="cardsContainer">
            <div class="loadedCardsSect">
                <div class="title no-print">
                    <h3>LE TUE CARTE</h3>
                </div>

            </div>

            <div class="cardsSect" id="cardsSectId">

            </div>
        </div>
    </div>
</body>

</html>