<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log-obble</title>
    <link rel="stylesheet" href="./common/commonStyles.css">
    <link rel="stylesheet" href="./gameHomepage/syllaDobbleStyles.css">

    <script type="module">
        import * as client from './gameHomepage/homepageClient.js';
        window.client = client;

        import * as common from '../common/commonClient.js'
        window.common = common;
    </script>
</head>

<body>
    <div class="page">
        <%- include('components/header.ejs'); %>

        <div class="templatingContainer">
            <button onclick="common.openModal('modal_tutorial_cardCreation')" class="btn-info no-print"><i
                    class="fa-solid fa-question"></i></button>
            <div class="templateCardContainer  no-print">
                <div class="buttonSect">
                    <div class="subtitle">
                        <span>Impostazioni carta da aggiungere</span>
                    </div>
                    <div class="undertitle">
                        <span>Premi sulle opzioni per cambiare la carta</span>
                    </div>
                </div>

                <div class="flexRow">
                    <div class="settingsSect">
                        <div>
                            <label for="cardBg">Sfondo</label>
                            <input type="color" class="color-input" id="cardBg" name="cardBg" value="#FFFFFF"
                                onchange="client.updateCard(this)" />
                        </div>
                        <div>
                            <label for="cardBorder">Bordo</label>
                            <input type="color" class="color-input" id="cardBorder" name="cardBorder" value="#000000"
                                onchange="client.updateCard(this)" />
                        </div>
                        <div>
                            <label for="cardGlobalTextCol">Testo</label>
                            <input type="color" class="color-input" id="cardGlobalTextCol" name="cardGlobalTextCol"
                                value="#000000" onchange="client.updateCard(this)" />
                        </div>
                    </div>


                    <div class="templateCardSect cardsSect">
                        <div class="card templateCard" id="templateCard">
                            <div class="cardRowTop">
                                <input type="text" class="templateCard" id="inTopRowL"
                                    onchange="client.syncPreview(inTopRowL)" name="inTopRowL">
                                <input type="color" class="textColorPicker" id="colTopL"
                                    onchange="client.syncPreview(colTopL)" name="colTopL">
                                <input type="text" class="templateCard" id="inTopRowM"
                                    onchange="client.syncPreview(inTopRowM)" name="inTopRowM">
                                <input type="color" class="textColorPicker" id="colTopM"
                                    onchange="client.syncPreview(colTopM)" name="colTopM">
                                <input type="text" class="templateCard" id="inTopRowR"
                                    onchange="client.syncPreview(inTopRowR)" name="inTopRowR">
                                <input type="color" class="textColorPicker" id="colTopR"
                                    onchange="client.syncPreview(colTopR)" name="colTopR">
                            </div>

                            <div class="cardRowMid">
                                <input type="text" class="templateCard" id="inMidRowL"
                                    onchange="client.syncPreview(inMidRowL)" name="inMidRowL">
                                <input type="color" class="textColorPicker" id="colMidL"
                                    onchange="client.syncPreview(colMidL)" name="colMidL">
                                <input type="text" class="templateCard" id="inMidRowM"
                                    onchange="client.syncPreview(inMidRowM)" name="inMidRowM">
                                <input type="color" class="textColorPicker" id="colMidM"
                                    onchange="client.syncPreview(colMidM)" name="colMidM">
                                <input type="text" class="templateCard" id="inMidRowR"
                                    onchange="client.syncPreview(inMidRowR)" name="inMidRowR">
                                <input type="color" class="textColorPicker" id="colMidR"
                                    onchange="client.syncPreview(colMidR)" name="colMidR">
                            </div>

                            <div class="cardRowBottom">
                                <input type="text" class="templateCard" id="inBotRowL"
                                    onchange="client.syncPreview(inBotRowL)" name="inBotRowL">
                                <input type="color" class="textColorPicker" id="colBotL"
                                    onchange="client.syncPreview(colBotL)" name="colBotL">
                                <input type="text" class="templateCard" id="inBotRowM"
                                    onchange="client.syncPreview(inBotRowM)" name="inBotRowM">
                                <input type="color" class="textColorPicker" id="colBotM"
                                    onchange="client.syncPreview(colBotM)" name="colBotM">
                                <input type="text" class="templateCard" id="inBotRowR"
                                    onchange="client.syncPreview(inBotRowR)" name="inBotRowR">
                                <input type="color" class="textColorPicker" id="colBotR"
                                    onchange="client.syncPreview(colBotR)" name="colBotR">
                            </div>
                        </div>
                    </div>


                    <div class="actionButtonsContainer">
                        <div class="actionButtons">
                            <div class="tooltip-wrapper">
                                <div class="tooltip tooltip-top tooltip-info">Reimposta valori predefiniti dei campi
                                </div>
                                <button type="button" class="btn btn-secondary"
                                    onclick="client.resetGlobals()">Reset</button>
                            </div>
                            <button class="btn btn-primary" onclick="client.getValues()">Aggiungi</button>
                            <button class="btn btn-primary" onclick="client.stampaPagine()">Stampa</button>
                            <button class="btn btn-primary" class="saveBtn" onclick="client.saveCards()">Salva</button>
                            <!-- UPLOAD BUTTON -->
                            <input type="file" id="cardsUpload" onchange="client.uploadCards(this)"
                                style="display: none;" />
                            <label for="cardsUpload" class="btn btn-primary labelBtn">Carica</label>
                            <button class="btn btn-primary" style="display: none" onclick="client.logCards()">LOG
                                CARDS</button>
                        </div>
                    </div>


                    <div class="templateCardSect cardsSect">
                        <div class="card templateCard" id="previewCard">
                            <div class="cardRowTop">
                                <div class="templateCard" id="prevTopL" name="inTopRowL"></div>
                                <div class="templateCard" id="prevTopM" name="inTopRowM"></div>
                                <div class="templateCard" id="prevTopR" name="inTopRowR"></div>
                            </div>

                            <div class="cardRowMid">
                                <div class="templateCard" id="prevMidL" name="inMidRowL"></div>
                                <div class="templateCard" id="prevMidM" name="inMidRowM"></div>
                                <div class="templateCard" id="prevMidR" name="inMidRowR"></div>
                            </div>

                            <div class="cardRowBottom">
                                <div class="templateCard" id="prevBotL" name="inBotRowL"></div>
                                <div class="templateCard" id="prevBotM" name="inBotRowM"></div>
                                <div class="templateCard" id="prevBotR" name="inBotRowR"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="cardsContainer">
                <div class="loadedCardsSect no-print">
                    <div class="title">
                        <h3>LE TUE CARTE</h3>
                    </div>
                </div>

                <div class="cardsSect" id="cardsSectId">

                </div>
            </div>
        </div>
        <%- include('components/modals.ejs'); %>
        <%- include('components/dialog.ejs'); %>
    </div>
</body>

</html>