/* Custom slider container */
.slider-container {
    position: relative;
    width: 88%;
    padding: 6% 6% 4% 6%;
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom slider */
.custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #a8c0ff, #6a7fff);
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

/* Slider thumb */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Hover and active states */
.custom-slider:hover {
    opacity: 1;
}

.custom-slider::-webkit-slider-thumb:hover,
.custom-slider::-moz-range-thumb:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.custom-slider::-webkit-slider-thumb:active,
.custom-slider::-moz-range-thumb:active {
    transform: scale(0.9);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* Value display */
.slider-value {
    width: 15%;
    font-size: 18px;
    display: flex;
    color: #4a5568;
    font-weight: bold;
    border: 0;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background: transparent;
}

.slider-label {
    position: absolute;
    top: 0;
    width: 90%;
}