* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.card:nth-child(6n) {
    page-break-after: always;
}

.title {
    text-align: center;
}

.buttonSect {
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
}

.cardsContainer {
    padding: 0% 2%
}

.templatingContainer {
    width: 98%;
    height: 100%;
    padding: 0% 0% 0% 2%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(102, 102, 102, 0.712);
    border-bottom: 1px solid rgba(102, 102, 102, 0.712);
}

.templatingContainer>div {
    width: 50%;
    height: 100%;
}

.descriptionSection {
    display: flex;
    flex-direction: row;
}

.instructionSect {
    padding: 2%;
    width: 100%;
    height: 100%;
}

.cardsSect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.templateCard {
    width: 30%;
}

.textColorPicker {
    width: 15px;
    height: 21px;
    margin-left: -15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 100%;
    width: 7cm;
    height: 7cm;
    margin: 5px;
    font-size: 24px;
    page-break-inside: avoid;
    background-color: white;
}

.card>div>input[type=text] {
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.card>div>input[type=text]:focus {
    outline: none;
}

.card>div>input[type=text]:focus-visible {
    outline: none;
}

.card>div>input[type=color] {
    border: 0px;
    background-color: transparent;
}

.cardRowTop {
    width: 80%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.cardRowTop>div:nth-child(2) {
    padding-bottom: 15%;
}

.cardRowTop>input:nth-child(3),
.cardRowTop>input:nth-child(4) {
    margin-bottom: 15%;
}

input:nth-child(4) {
    margin-left: -14px;
}

.cardRowBottom {
    width: 80%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.cardRowBottom>div:nth-child(2) {
    padding-top: 15%;
}

.cardRowBottom>input:nth-child(3),
.cardRowBottom>input:nth-child(4) {
    margin-top: 15%;
}

.cardRowMid {
    width: 90%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardRowMid>input:nth-child(3) {
    margin-left: 2%;
}

.cardRowMid>input:nth-child(4) {
    margin-right: 2%;
}

.settingsSect {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    align-items: normal;
    width: 60%;
    margin-top: 1%;
}

.settingsSect>div>label {
    font-weight: bold;
    text-transform: uppercase;
}

.settingsSect>div {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 0px;
}

.addItemInput {
    width: 30%;
}

.cardContainer {
    display: flex;
    flex-direction: row-reverse;
}

.removeCardBtn {
    width: 15px;
    height: 20px;
    padding: 0;
    border: 1px solid;
}

.resetBtn {
    margin-top: 3%;
    width: 50px;
}

.saveBtn {
    margin-top: 3%;
}

.actionButtonsContainer {
    width: 100%;
    display: flex;
}

.actionButtons {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
}

.fileManage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 300px) {
    body {
        background-color: lightblue;
    }
}

.instructionSect>ul>li {
    margin: 2% 0%;
}

.instructionSect>ul>li>button {
    border: 0px;
    background-color: transparent;
    text-decoration: underline;
}