<script type="module">
    import * as modalClient from "./components/modal/modalClient.js";
    window.openAccordion = modalClient.openAccordion;
</script>

<div id="modal_tutorial" class="modal">
    <!-- Modal content -->
</div>