.pageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.settingsContainer {
    border-bottom: 1px solid #888;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
}

.syllableContainer {
    padding: 2%;
}

.groupingsTitle {
    width: inherit;
    text-transform: uppercase;
    padding: 0.5%;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5%;
    width: 55%;
}

.groupingContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.groupingHeader {
    display: flex;
    align-items: center;
}

.groupingButton {
    background-color: transparent;
    font-size: 1.1rem;
    color: rgb(112, 128, 144);
    border: 1px solid transparent;
    padding: 1% 2%;
}

.groupingButton:hover {
    border: 1px solid rgb(112, 128, 144);
    border-radius: 4px;
}

.grouping {
    margin: 2% 1.5%;
}

.groupingTitle {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.groupingPairs>textarea {
    resize: none;
    min-height: 5cm;
    font-size: 1.2rem;
}

.modal-body>.addGroupContainer>.addGroupTemplate>.grouping,
.modal-body>.addGroupContainer>.addGroupTemplate>.grouping>form>.groupingTitle,
.modal-body>.addGroupContainer>.addGroupTemplate>.grouping>form>.groupingPairs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body>.addGroupContainer>.addGroupTemplate>.grouping>.groupingTitle>input {
    width: 100%;
    margin-bottom: 0.5%;
}

.addGroupContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.addGroupInstructions {
    width: 84%;
    padding: 1%;
}

.addGroupTemplate {
    width: 16%;
}

.addGroupTemplate>div {
    width: 100%;
}

.addGroupingInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 17%;
}

.addGroupingInput>input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #888;
}

.addGroupingInput>input[type=text]:focus {
    outline: none;
}

.addGroupingInput>input[type=text]:focus-visible {
    outline: none;
}